DEBUG=1
SECRET_KEY=test
DJANGO_ALLOWED_HOSTS=127.0.0.1 localhost 0.0.0.0 [::1]
TIMEZONE=US/Pacific
POSTGRES_PASSWORD=samplepass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgresuser
POSTGRES_DB=devroast

# static files
USE_S3=FALSE
AWS_ACCESS_KEY_ID=UPDATE_ME
AWS_SECRET_ACCESS_KEY=UPDATE_ME
AWS_STORAGE_BUCKET_NAME=UPDATE_ME