DEBUG=1
SECRET_KEY=test
DJANGO_ALLOWED_HOSTS=127.0.0.1 localhost 0.0.0.0 [::1]
TIMEZONE=US/Pacific
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgresuser
POSTGRES_DB=devroast
