body {
  padding-top: 80px;
}

div {
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
nav {
  background-color: whitesmoke;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
li {
  float: left;
  display: block;
  padding: 16px;
}
