body {
  padding-top: 80px;
}

div {
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
nav {
  background-color: whitesmoke;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
li {
  float: left;
  display: block;
  padding: 16px;
}

.message {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: lightgray;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.prevPanel {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}
.preview {
  border: 1px solid black;
}
